<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ScanApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="RDSContext" connectionString="Data Source=192.168.31.91\sqlexpress;Initial Catalog=RDS;Integrated Security=True;Encrypt=False;Trust Server Certificate=True" />
	</connectionStrings>
	<userSettings>
		<ScanApp.Properties.Settings>
   <setting name="WorkFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="IPAddress" serializeAs="String">
    <value />
   </setting>
  </ScanApp.Properties.Settings>
	</userSettings>
</configuration>